version: '4.5'

services:
  clickhouse:
    container_name: "items_database"
    hostname: "items_db"
    image: clickhouse/clickhouse-server:21.3.20.1-alpine
    volumes:
      - chdata:/var/lib/clickhouse
    ports:
      - ${DB_PORT}:9000
    networks:
      - main
  prices:
    build:
      context: .
    container_name: "prices_service"
    hostname: "prices"
    env_file:
      - .env
    networks:
      - main
    depends_on:
      - clickhouse
volumes:
  chdata:

networks:
  main:
    external: true