name: Deploy prices
on:
  push:
    branches: [ "main", "master" ]

jobs:
  prepare-env:
    runs-on: self-hosted
    steps:
      - name: Remove unused data
        run: docker system prune -a -f
  deploy:
    runs-on: self-hosted
    needs: prepare-env
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: Add envs
        run: |
          touch .env
          echo  NATS_URL=${{ secrets.NATS_URL }} >> .env
          echo  NATS_QUEUE_ERRORS=${{ vars.NATS_QUEUE_ERRORS }} >> .env
          echo  NATS_QUEUE_STATUS=${{ vars.NATS_QUEUE_STATUS }} >> .env
          echo  NATS_QUEUE_VALIDATION=${{ vars.NATS_QUEUE_VALIDATION }} >> .env
          echo $nats_q_validation >> .env
      - name: Lookup env
        run: cat .env
      - name: docker-compose
        run: docker-compose up -d