name: Deploy prices
on:
  push:
    branches: [ "main", "master" ]
jobs:
  prepare-env:
    runs-on: self-hosted
    steps:
      - name: Remove unused data
        run: docker system prune -a -f
  deploy:
    runs-on: self-hosted
    needs: prepare-env
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: Add envs
        run: |
          touch .env
          echo  NATS_URL=${{ secrets.NATS_URL }} >> .env
          echo  NATS_QUEUE_ERRORS=${{ vars.NATS_QUEUE_ERRORS }} >> .env
          echo  NATS_QUEUE_STATUS=${{ vars.NATS_QUEUE_STATUS }} >> .env
          echo  NATS_QUEUE_VALIDATION=${{ vars.NATS_QUEUE_VALIDATION }} >> .env
          
          echo  DB_HOST=${{ vars.DB_HOST }} >> .env
          echo  DB_PORT=${{ vars.DB_PORT }} >> .env
          echo  DB_PORT_EXTERNAL=${{ vars.DB_PORT_EXTERNAL }} >> .env
          echo  DB_NAME=${{ vars.DB_NAME }} >> .env
          echo  DB_USER=${{ secrets.DB_USER }} >> .env
          echo  DB_PASS=${{ secrets.DB_PASS }} >> .env
      - name: Lookup env
        run: cat .env
      - name: docker-compose
        run: docker-compose up -d
  migrations:
    runs-on: self-hosted
    needs: deploy
    steps:
      - name: Run migrations
        run: migrate -path ./db/migrations -database 'clickhouse://localhost:${{vars.DB_PORT_EXTERNAL}}?username=${{secrets.DB_USER}}&password=${{secrets.DB_PASS}}&database=${{vars.DB_NAME}}
